{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'src/styles.css' %}">
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        *{
            font-family: 'Poppins', sans-serif;
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
    </style>
</head>
<body>
    <!-- Navbar -->
<nav class="w-full h-24 flex items-center justify-between bg-[#A58E74]">
    <div class="w-64 flex items-center justify-around">
        <img src="{% static 'src/images/ebookshelf.jpeg'%}" class="w-24 h-24 ">
        <a href="/" class="text-xl text-white hover:text-black">Home</a>
    </div>
    <div class="w-fit flex items-center justify-around">
        {% if user.is_authenticated %}
        <div class="w-20 h-10 flex items-center justify-center  hover:text-white rounded-xl">
            <a href="/account/userpage/" class="hover:text-black text-white text-xl">{{user.last_name}}</a>
        </div>
        <div>
            <form method="POST">
                {% csrf_token %}
                <div class="form-group flex items-center justify-center">
                  <input type="text" class=" w-80 h-7 rounded-l-lg " name="search">
                  <button type="submit" class="h-7 w-20 rounded-r-lg bg-[#ACD793] flex items-center justify-center font-bold hover:no-underline  hover:bg-[#8d7a63] hover:text-white ho;ver:rounded-r-xl">Search</button>
                </div>
            </form>
        </div>
        <div class="w-20 h-10 flex items-center justify-center hover:bg-[#8d7a63] hover:text-white rounded-xl">
            <a href="/account/logout" class="text-xl text-white">log out</a>
        </div>
        {% else %}
        <div class="w-20 h-10 flex items-center justify-center hover:bg-[#8d7a63] hover:text-white rounded-xl">
            <a href="/account/login" class="hover:text-black text-xl text-white">Log in</a>
        </div>
        <div class="w-20 h-10 flex items-center justify-center hover:bg-[#8d7a63] hover:text-black rounded-xl">
            <a href="/account/signup/" class="text-xl text-white hover:text-black ">Sign up</a>
        </div>
        {% endif %}
    </div>
 </nav>

 <!-- navbar ends -->
    {% block content %}
    
    {% endblock %}

    <!-- Footer -->
    <footer class="w-full h-24 bg-[#A58E74] flex items-center justify-center relative bottom-0">
        <div class="">
            <p class="text-white">© 2024 EbookShelf. Empowering Education.</p>
            <p>Privacy Policy | Terms of Service | Contact Us</p>
            <p>Follow us: </p>
        </div>
    </footer>
</body>
</html>